# See http://help.github.com/ignore-files/ for more about ignoring files.

jest
src/configs/url.js
*.json.g*

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
npm-debug.log
