.chi2016-dialog {
  width: 90%;
  overflow-y: auto;
  max-height: 90%;
  position: fixed;
  top: 20px;
  z-index: 50;
  left: 5%;
  background-color: #fff;
  .chi2016-dialog-title {
    background-color: #ae0bc2;
    color: #fff;
    padding: 15px;
    padding-right: 50px;
    h3 {
      font-size: 24px;
      line-height: 24px;
      font-family: 'bariol_bold', sans-serif;
      margin: 0px;
    }
  }
  .chi2016-dialog-close {
    position: absolute;
    right: 20px;
    top: 25px;
  }
}