.chi2016-entity {
  color: #000;
  padding-right: 20px;
  .chi2016-entity-authors {
    padding: 5px;
    padding-left: 0px;
    .chi2016-entity-authors-title h4 {
      font-family: 'bariol_bold', sans-serif;
      line-height: 20px;
      font-size: 1em;
      margin: 0px;
    }
    .chi2016-entity-author {
      padding-left: 15px;
      .chi2016-entity-author-name {
        font-family: 'bariol_bold', sans-serif;
      }
      .chi2016-entity-author-affiliation {

      }
      .chi2016-entity-author-location {

      }
    }
  }
  .chi2016-entity-keywords {
    padding: 5px;
    padding-left: 0px;
    .chi2016-entity-keywords-title h4 {
      font-family: 'bariol_bold', sans-serif;
      line-height: 20px;
      font-size: 1em;
      margin: 0px;
    }
    .chi2016-entity-keywords-text {

    }
  }

  .chi2016-entity-awards {
    padding: 5px;
    padding-left: 0px;
    .chi2016-entity-awards-title h4 {
      font-family: 'bariol_bold', sans-serif;
      line-height: 20px;
      font-size: 1em;
      margin: 0px;
    }
  }
  .chi2016-entity-abstract {
    padding: 5px;
    padding-left: 0px;
    .chi2016-entity-abstract-title h4 {
      font-family: 'bariol_bold', sans-serif;
      line-height: 20px;
      font-size: 1em;
      margin: 0px;
    }
    .chi2016-entity-abstract-text {
      padding-left: 15px;
    }
  }
}