.chi2016-glance-day-slot-session-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  min-width: 150px;
  height: 150px;
  cursor: pointer;

  @media only screen and (max-width: 370px) {
    min-width: 100%;
    height: auto;
    text-align: center;
  }
  @media only screen and (min-width: 840px) and (max-width: 1100px) {
    min-width: 33%;
  }

  .chi2016-glance-day-slot-session {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    .chi2016-glance-day-slot-session-type {
      font-family: 'bariol_bold';
    }
    .chi2016-glance-day-slot-session-title {
      padding-bottom: 20px;
    }
    .chi2016-glance-day-slot-session-room {
      font-style: italic;
      font-size: 0.8571428571428571em;
    }
  }
}
.chi2016-glance-day-slot-session-container:hover {
  color: #fff;
  background-color: #363636;
}
.chi2016-glance-day-slot-session-container:active {
  color: #fff;
  background-color: #9900AB;
}