.chi2016-landing {
  font-size: 1.1428571428571428em;
  #chi2016-main-content {
    scroll-behavior: smooth;
  }
  .chi2016-section {

  }
  .chi2016-landing-up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #363636;
    color: #fff;
    .mdl-ripple {
      background-color: #fff;
    }
  }
}