.lbw {
  .lbw-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .lbw-category-list {
    a {
      color: black;
      text-decoration: none;
      font-size: 1.14em;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  .lbw-group {
    .lbw-group-title {
      font-size: 1.3em;
      font-weight: bold;
    }
    .lbw-category-title {
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      border-top: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .lbw-item {
      border: 1px solid black;
      padding: 20px;
      .lbw-item-title {
        font-family: 'bariol_bold', sans-serif;
      }
    }

    .lbw-item-award {
      img {
        padding-bottom: 10px;
      }
    }
  }
}