.chi2016-schedule-day {
  padding-top: 15px;
  padding-left: 20px;
  .chi2016-schedule-day-text-group {
    .chi2016-schedule-day-text {

      min-width: 300px;
      .chi2016-schedule-day-text-anchor {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-family: 'bikobold', sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        margin: 0px;
      }
      .chi2016-schedule-day-text-anchor:hover {
        text-decoration: underline;
      }
    }

    .chi2016-schedule-change-time {
      margin-top: -7px;
    }
  }
}