.chi2016-schedule {
  font-size: 1.1428571428571428em;
  .chi2016-schedule-nav-group {
    .chi2016-schedule-nav-bar {
      background-color: #fff;
    }
    .chi2016-schedule-nav {
      font-family: 'bariol_bold', sans-serif;
      padding-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
      color: #000;
      border-bottom: 1px solid #777777;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @media only screen and (max-width: 479px) {
        text-align: center;
      }
    }
    .chi2016-schedule-nav:hover {
      color: #fff;
      background-color: #363636;
    }

    .chi2016-schedule-nav:active {
      color: #fff;
      background-color: #9900AB;
      border-bottom: 1px solid #9900AB;
    }
  }

  .chi2016-schedule-day-container {

  }
}