.chi2016-search {
  .chi2016-banner-nav {
    background-color: #880099;
    color: #fff;
    font-family: 'bariol_bold', sans-serif;
    text-align: center;
    padding: 11px;
    @media only screen and (max-width: 699px){
      display: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      height: inherit;
      padding: 8px 8px;
      font-size: 20px;
    }
    a:hover {
      background-color: #AA00BB;
    }
    @media only screen and (min-width: 840px) and (max-width: 1000px) {
      margin-left: 0px !important;
      width: 100%;
    }
  }
  .chi2016-banner {
    background-image: url("/src/images/banner-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 10px;
    @media only screen and (min-width: 840px) and (max-width: 1000px) {
      margin-left: 0px !important;
      width: 100%;
    }
    .chi2016-banner-side {
      .chi2016-text-banner.left {
        .chi2016-trinagle-left {
          float: right;
        }
        .chi2016-text-banner-text {
          float: right;
        }
        .chi2016-trinagle-right {
          float: right;
        }
      }
      .chi2016-text-banner.right {
        .chi2016-trinagle-left {
          float: left;
        }
        .chi2016-text-banner-text {
          float: left;
        }
        .chi2016-trinagle-right {
          float: left;
        }
      }
      .chi2016-text-banner {
        margin-top: 140px;
        .chi2016-trinagle-left {

          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-right: 21px solid #880099;
          border-bottom: 20px solid transparent;
        }
        .chi2016-text-banner-text {
          width: 190px;
          height: 38px;
          background-color: #880099;
          color: #fff;
          line-height: 38px;
          text-align: center;
          font-family: 'bikobold', sans-serif;
          font-size: 1.3em;
          margin: 0;
        }
        .chi2016-trinagle-right {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-left: 21px solid #880099;
          border-bottom: 20px solid transparent;
        }
      }
    }
    .chi2016-logo {
      cursor: pointer;
      margin-top: 25px;
      margin-bottom: 25px;
      background-image: url("/src/images/chi2016-logo.png");
      background-repeat: no-repeat;
      background-position: center center;
      height: 247px;
      // min-width: 278px;
      margin-bottom: 7px !important;
    }
    .chi2016-search-container {
      background-color: #fff;
      margin-top: 0px;
      padding: 10px;
      min-width: 278px;

      .chi2016-search-button-container {
        width: 40%;
        .chi2016-search-button {
          width: 100%;
          background-color: #9C0AB0;
          color: #fff;
          font-family: 'bariol_regular', sans-serif;
          .mdl-ripple {
            background-color: #fff;
          }
        }
      }
      .chi2016-search-input-container {
        width: 55%;
        margin-left: 5%;
        .chi2016-search-input-box {
          width: 100%;
          padding-top: 5px;
          padding-bottom: 0px;
          .chi2016-search-input {
            width: 100%;
          }
          .chi2016-search-input-label {
            top: 9px;
          }
          .chi2016-search-input-label:after {
            bottom: 0px;
            background-color: #9C0AB0;
          }
          .chi2016-search-reset {
            position: absolute;
            right: 0px;
            top: 0px;
          }
        }
      }
    }
  }
}