.chi2016-tabs {
  .chi2016-tabs-container {
    .chi2016-tab-bar {
      .chi2016-tab-button.is-active:after {
        background-color: #9C0AB0;
      }
      .chi2016-tab-button {
        color: #000;
        .mdl-ripple {
          background-color: #9C0AB0;
        }
      }
    }
  }
}