@import './../../node_modules/material-design-lite/material.css';
@import './../js/modules/chi2016/components/chi2016-v2/landing';
@import './../js/modules/chi2016/components/chi2016-v2/dialog';
@import './../js/modules/chi2016/components/chi2016-v2/loader';
@import './../js/modules/chi2016/components/chi2016-v2/search';
@import './../js/modules/chi2016/components/chi2016-v2/tabs';
@import './../js/modules/chi2016/components/chi2016-v2/glance';
@import './../js/modules/chi2016/components/chi2016-v2/glance-day';
@import './../js/modules/chi2016/components/chi2016-v2/glance-day-slot';
@import './../js/modules/chi2016/components/chi2016-v2/glance-day-slot-session';
@import './../js/modules/chi2016/components/chi2016-v2/events';
@import './../js/modules/chi2016/components/chi2016-v2/events-day';
@import './../js/modules/chi2016/components/chi2016-v2/schedule';
@import './../js/modules/chi2016/components/chi2016-v2/schedule-day';
@import './../js/modules/chi2016/components/chi2016-v2/schedule-day-session';
@import './../js/modules/chi2016/components/chi2016-v2/schedule-day-session-entity';
@import './../js/modules/chi2016/components/chi2016-v2/abstract-schedule';
@import './../js/modules/chi2016/components/chi2016-v2/abstract-schedule-day';
@import './../js/modules/chi2016/components/chi2016-v2/abstract-schedule-day-session';
@import './../js/modules/chi2016/components/chi2016-v2/abstract-schedule-day-session-entity';
@import './../js/modules/chi2016/components/chi2016-v2/entity';
@import './../js/modules/chi2016/components/chi2016-v2/lbw';
// @import './../js/modules/chi2016/components/templates/mdl-landing.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-banner.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-schedule.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-day.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-slot.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-session.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-session-dialog.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-entity.scss';
// @import './../js/modules/chi2016/components/chi2016/chi2016-search.scss';

html {
  body {
    font-size: 1em;
    font-family: 'bariol_regular', sans-serif;
    // font-family: 'bikoregular', 'Roboto';
    .ui-tooltip {
      z-index: 1000;
    }
  }

  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

.chi2016-hidden {
  display: none;
}

.chi2016-confapp {
  .chi2016-confapp-container {
    padding-top: 20px;
  }

}

.highlight {
  background-color: #AE0BC2;
  color: #fff;
}
/* Font Face */
@font-face {
  font-family: 'bikoregular';
  src: url('/assets/fonts/biko_regular-webfont.eot');
  src: url('/assets/fonts/biko_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/biko_regular-webfont.svg#bikoregular') format('svg'),
    url('/assets/fonts/biko_regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/biko_regular-webfont.woff') format('woff'),
    url('/assets/fonts/biko_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bikobold';
  src: url('/assets/fonts/biko_bold-webfont.eot');
  src: url('/assets/fonts/biko_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/biko_bold-webfont.svg#bikobold') format('svg'),
    url('/assets/fonts/biko_bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/biko_bold-webfont.woff') format('woff'),
    url('/assets/fonts/biko_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariol_regular';
  src: url('/assets/fonts/bariol_regular-webfont.eot');
  src: url('/assets/fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg'),
    url('/assets/fonts/bariol_regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/bariol_regular-webfont.woff') format('woff'),
    url('/assets/fonts/bariol_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariol_bold';
  src: url('/assets/fonts/bariol_bold-webfont.eot');
  src: url('/assets/fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg'),
    url('/assets/fonts/bariol_bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/bariol_bold-webfont.woff') format('woff'),
    url('/assets/fonts/bariol_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.chi2016-react-mdl-main-content {
  margin-top: -64px;
}