.chi2016-day {
  .chi2016-day-date-container {
    h1.chi2016-day-date { 
      text-transform: uppercase; 
      font-family: 'bikoregular', sans-serif; 
      font-size: 1.5em; 
      color: #333; 
      margin: 0 0 0px 0; 
      padding: 0; 
      line-height: 30px; 
    }  
  }
}  