.chi2016-search-container {
  margin-left: 20px;
  .flag-on-react-mdl-icon-button {
    color: #660077;
  }

  .chi2016-search-label:after {
    background-color: #660077;
  }

  .flag-off-react-mdl-icon-button {
    color: black;
  }
}


