.is-small-screen {
  .chi2016-banner-container {
    margin-top: 64px;
  }
}

.chi2016-banner-container {
  cursor: pointer;
  .chi2016-banner {
    background-image: url("/src/images/banner-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 305px;

    .chi2016-banner-side {

    }

    .chi2016-logo {
      margin-top: 25px;
      margin-bottom: 25px;
      background-image: url("/src/images/chi2016-logo.png");
      // background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 247px;
      min-width: 278px;
    }
  }
}
