.chi2016-entity-container {
  color: black;
  .chi2016-entity-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .chi2016-entity-authors {
    .chi2016-entity-authors-title {
      font-size: 12px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .chi2016-entity-author {
      padding-left: 18px;
      text-indent: -7px;
      font-size: 12px;
    }
  }

  .chi2016-entity-abstract-container {
    margin-top: 20px;
    .chi2016-entity-abstract-title {
      font-weight: bold;
      font-size: 12px;
    }
    .chi2016-entity-abstract {
      margin-left: 20px;
    }
  }
}