.chi2016-session-react-mdl-dialog {
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  color: black;
  .chi2016-session-react-mdl-dialog-title {
    font-size: 20px;
  }
  .chi2016-session-react-mdl-dialog-content {
    padding-top: 0px;
  }
}